<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools"
          package="com.jyt.video">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <application
            android:allowBackup="true"
            android:icon="@mipmap/houzi"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:name=".App"
            android:networkSecurityConfig="@xml/network_config"
            android:theme="@style/AppTheme">
        <meta-data
                android:name="notch.config"
                android:value="landscape"/>
        <meta-data android:name="android.max_aspect"  android:value="2.1"/>
        <meta-data
                android:name="com.openinstall.APP_KEY"
                android:value="x98kap"/>
        <meta-data
                android:name="design_width_in_dp"
                android:value="375"/>
        <meta-data
                android:name="design_height_in_dp"
                android:value="667"/>
        <activity android:name=".welcome.WelcomeAct"
            android:theme="@style/WelcomeStyle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.jyt.video.main.MainActivity" android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="x98kap"/>
            </intent-filter>
        </activity>
        <activity android:name=".login.LoginAct" android:label="登录">

        </activity>
        <!--注册-->
        <activity android:name=".login.RegisterAct" android:label="注册并登录">

        </activity>

        <activity android:name=".setting.SettingAct" android:label="设置"/>
        <activity android:name=".setting.account.AccountInfoAct" android:label="账户资料"/>
        
        <activity android:name=".setting.account.CSAccountAct" android:label="收款账号"/>
        <activity android:name=".setting.account.ALiPayAccountListAct" android:label="支付宝"/>
        <activity android:name=".setting.account.BankCardListAct" android:label="银行卡"/>
        <activity android:name=".setting.account.AddBankCardAccountAct" android:label="添加银行卡"/>
        <activity android:name=".setting.account.AddALiPayAccountAct" android:label="添加支付宝"/>
        <activity android:name="com.jyt.video.video.CacheVideoAct" android:label="离线缓存"/>
        <activity android:name=".video.CollectionVideoAct" android:label="我的收藏"/>
        <activity android:name=".wallet.MyWalletAct" android:label="钱包"/>
        <activity android:name=".wallet.WidthDrawAct" android:label="提现"/>
        <activity android:name=".deal.DealRecordAct" android:label="交易记录"/>
        <activity android:name=".promotion.PromotionRecordAct" android:label="宣传记录"/>
        <activity android:name=".web.WebAct">

        </activity>
        <activity android:name=".recharge.RechargeAct" android:label="充值" android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".recharge.RechargeCardAct" android:label="卡密充值" android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".video.MoreVideoAct" android:label="更多视频"/>
        <activity android:name=".video.SearchAct" android:label="搜索"/>
        <activity android:name=".video.PlayVideoAct" android:label="播放视频" android:windowSoftInputMode="adjustPan"
                  android:configChanges="orientation|screenSize|keyboardHidden"
                  android:screenOrientation="portrait"/>
        <activity android:name=".promotion.PromotionAct" android:label="宣传"/>
        <activity android:name=".video.SearchResultAct"/>
        <activity android:name=".setting.account.ModifyPsdAct" android:label="修改密码"/>
        <activity android:name=".video.BrowseImageAct" android:label="浏览图片"/>
    </application>

</manifest>